<nav id="main_nav" role="navigation">
  <ul>
    <li><%= link_to "Home", "/mole_core/Home" %></li> |
    <li><%= link_to "Resources", "/mole_core/Resources" %></li> | 
    <li><%= link_to "Organisations", "/organisations" %></li> | 
    <li><%= link_to "What is Here", "/mole_core/Contents" %></li> |
    <li><%= link_to "Events", "/events" %></li> |
    <li><%= link_to "Contact us", "/mole_core/Contactus"%></li> | 
  </ul>
</nav>